.App {
  text-align: center;
  min-width: 400px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

main {
  width: 100%;
  min-width: 375px;
  max-width: 440px;
  margin: 0 auto;
  padding: 0;
}