.scroll-to-top-btn {
    position: fixed;
    bottom: 24px;
    right: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 9999;
}

.scroll-to-top-btn img {
    width: 40px;
    height: 40px;
    transform: rotate(90deg); /* ←를 ↑로 */
}
