/* 전체 popular 영역 */
.popular-posts {
    width: 90%;
    margin: 0 auto;
    overflow: hidden; /* 이 부분을 추가하여 슬라이더가 튀어나오지 않게 함 */
}

/* "인기글" 탭 영역 */
.TabMsg {
    display: flex;
    flex-direction: row;
    gap: clamp(10px, 2vw, 12px);
    margin-bottom: clamp(15px, 2vw, 17px);
    /* popular-posts의 overflow:hidden으로 인해 TabMsg의 위치가 바뀔 수 있으므로,
       여기에 필요한 경우 여백을 조정할 수 있습니다. */
    /*padding-left: 5%;*/
    /*box-sizing: border-box;*/
}

.TabMsg p {
    font-size: clamp(18px, 2vw, 20px);
    font-weight: 450;
    margin: 0;
}

/* Swiper 설정 */
.PopularSwiper {
    margin: 0; /* margin 상쇄 제거 */
}

/* 슬라이드 카드 스타일 */
.popular-slide {
    width: 100% !important; /* 슬라이더 너비와 간격을 고려해 너비 조정 */
    margin: 0 !important;
    background: #fff;
    /* 그림자 값 조정: x-offset, y-offset, blur-radius, spread-radius, color */
    /*box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.15); !* 상단과 하단에 부드러운 그림자 추가 *!*/
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: clamp(15px, 2vw, 17px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    min-height: 90px;
}

.swiper-wrapper {
    width: 100% !important;
    margin: 0 !important;
}

.swiper-slide {
    margin: 0 0 0 0 !important;
}


/* 상단 콘텐츠 영역 (제목 + 댓글) */
.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}

.content-container h3 {
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 500;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80%;
}

.content-container p {
    font-size: clamp(11px, 2vw, 13px);
    font-weight: 450;
    color: #797979;
    margin: 0;
    text-align: center;
}

.content-container img {
    width: clamp(24px, 2vw, 26px);
    height: clamp(24px, 2vw, 26px);
    margin: 0;
}

/* 하단 좋아요 / 조회수 버튼 영역 */
.btn-container {
    display: flex;
    align-items: center;
    font-size: clamp(9px, 2vw, 11px);
    color: #797979;
    height: clamp(20px, 2vw, 24px);
}

.heart,
.watch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: clamp(13px, 2vw, 15px);
}

.heart img,
.watch img {
    width: clamp(14px, 2vw, 16px);
    height: clamp(14px, 2vw, 16px);
    margin: 0 clamp(3px, 2vw, 5px) 0 0;
}

/* Swiper pagination 점(dot) 스타일 */
.PopularSwiper .swiper-pagination-bullet {
    background: rgba(188, 188, 188, 1) !important;
    width: clamp(5px, 2vw, 7px) !important;
    height: clamp(5px, 2vw, 7px) !important;
    margin: 0 clamp(2px, 2vw, 4px) !important;
    opacity: 1 !important;
}

.PopularSwiper .swiper-pagination-bullet-active {
    background: rgba(38, 153, 98, 1) !important;
    width: clamp(5px, 2vw, 7px) !important;
    height: clamp(5px, 2vw, 7px) !important;
    margin: 0 clamp(2px, 2vw, 4px) !important;
    opacity: 1 !important;
}