/*!* FirstMainPage.css *!*/

/*.FirstMainPage {*/
/*    background-image: linear-gradient(0.02deg, #269962 41.09%, #8BD3BA 57.62%, #2C8C7D 86.54%);*/
/*    display: flex;*/
/*    width: 100%;*/
/*    min-height: 100vh;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: flex-start;*/
/*    padding-bottom: 20px;*/
/*    box-sizing: border-box;*/
/*    margin: 0 auto;*/
/*}*/

/*.content {*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    box-sizing: border-box;*/
/*}*/

/*.First p {*/
/*    padding-top: 15%;*/
/*    font-size: clamp(1.3rem, 2vw, 1.5rem);*/
/*    line-height: 1.2;*/
/*    color: white;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.Map {*/
/*    position: relative;*/
/*    max-width: 90%;*/
/*    margin: 13% auto;*/
/*    box-sizing: content-box;*/
/*}*/

/*.Map img {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: auto;*/
/*    display: block;*/
/*    z-index: 1;*/
/*}*/

/*.map-region-button {*/
/*    position: absolute;*/
/*    width: fit-content;*/
/*    !*min-width: 39px;*!*/
/*    !*max-width: 42px;*!*/

/*    background-color: white;*/

/*    border-radius: 25px;*/
/*    border: none;*/

/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*    color: #2C8C7D;*/
/*    font-size: 8px;*/
/*    font-weight: bold;*/
/*    text-align: center;*/

/*    z-index: 10;*/

/*    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
/*    transition: opacity 0.2s ease, background-color 0.2s ease, transform 0.1s ease;*/
/*}*/

/*!* 선택된 버튼 *!*/
/*.map-region-button.selected {*/
/*    background-color: #FFE500;*/
/*}*/

/*!* 선택된 버튼 색상이 유지 *!*/
/*.map-region-button.selected:hover {*/
/*    background-color: #FFE500;*/
/*}*/

/*!* 기본 최소 높이 *!*/
/*.Top3ForRegion {*/
/*    width: 90%;*/
/*    max-width: 380px;*/
/*    transition: all 0.3s ease-in-out;*/
/*    margin: 0 auto;*/
/*    padding: 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*!* 아무 지역도 선택 안 했을 때 *!*/
/*.Top3ForRegion.inactive {*/
/*    height: 0;*/
/*    overflow: hidden;*/
/*    margin-bottom: 0;*/
/*}*/

/*!* 지역 선택 시 활성화 상태 *!*/
/*.Top3ForRegion.active {*/
/*    height: auto;*/
/*    margin-bottom: 50px;*/
/*    gap: 15px;*/
/*}*/


/*.subcomment {*/
/*    margin: 10px auto;*/
/*    text-align: center;*/
/*}*/

/*.subcomment p {*/
/*    color: #fff;*/
/*    font-weight: 700;*/
/*}*/

/*.GolfList {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    gap: 13px;*/
/*    width: 100%;*/
/*}*/






/* 여기서부터 Search.jsx에 대한 스타일링 */
.Search&Response {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Search 입력 필드 컨테이너 스타일 */
.Search {
    width: 90%;
    height: 45px;
    margin: 0 auto;
    padding-bottom: 10px;
    position: relative; /* button이 Search를 기준으로 오른쪽에 띄우기 위해서 */
    display: flex;
}

.SearchBtnImg {
    color: transparent;
    border: none;
    position: absolute;
    right: 5px;
    width: 30px;
    height: 30px;
    padding: 7px;
    cursor: pointer;
}

/* Search 입력 필드 스타일 */
.Search input {
    width: 100%;
    padding: 10px 25px;
    border: 1px solid #ccc;
    border-radius: 54px;
    font-size: clamp(12px, 2vw, 14px);
    box-sizing: border-box;
}

.Search input::placeholder {
    color: #999;
}

.Search input:focus {
    border: 1.5px solid #c5ede4;
    outline: none;
    transition: border-color 0.5s ease;
}

.Response {
    width: 85%;
    margin: 0 auto;
    min-height: 50px;
    border-radius: 5px;
    padding: 0;
    text-align: right;
    color: #fff;
    font-size: clamp(0.7rem, 2vw, 0.9rem);
    font-weight: bold;
}

.NoResponse {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Warning {
    margin-bottom: 25px;
}

.NoResponse p {
    text-align: center;
    font-size: clamp(0.75rem, 2vw, 0.95rem);
    font-weight: 450;
}

.NoResponse p span {
    font-size: clamp(0.6rem, 2vw, 0.8rem);
    font-weight: 350;
}

.entire-cont {
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 1%;
    justify-content: space-between;
    border-radius: 14px;
    padding: 2.5%;
}

.entire-cont img {
    width: 130px;
    height: 80px;
    border-radius: 10px;
}

.msg-cont {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-left: 4%;
}

.msg-cont strong {
    color: #000;
    font-size: clamp(0.75rem, 2vw, 0.95rem);
    font-weight: 450;
    display: flex;
    justify-content: space-between;
}

.msg-cont strong span {
    color: #269962;
}

.msg-cont p {
    color: #797979;
    font-size: clamp(0.65rem, 2vw, 0.85rem);
    font-weight: 450;
    margin: 2.5% auto;
}

.msg-cont button {
    width: fit-content;
    border: 1px solid #2d8779;
    border-radius: 50px;
    font-size: clamp(0.65rem, 2vw, 0.85rem);
    padding: 1% 5%;
    font-weight: 450;
}

.swiper-slide-active,
.swiper-slide-prev,
.swiper-slide-next {
    width: 100% !important;
    margin: 0 !important;
}


/* swiper */
/* 비활성화된 dot */
.swiper-pagination-bullet {
    background: #4AC0AE !important;
    opacity: 1 !important;
}

/* 활성화된 dot */
.swiper-pagination-bullet-active {
    background: #CAFEE5 !important;
    opacity: 1 !important;
}
