/* 전체 컨테이너를 최소 화면 높이로 설정하여 꽉 채우게 함 */
#main {
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    min-height: 100%;
}

.community-content-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    position: relative;
}
.community-detail-cont {
    width: 100%;
    margin: 5% auto 0 auto;
    padding-bottom: 10%; /* 댓글 입력창 높이만큼 패딩 추가 */
    flex-grow: 1;
    background: #f8f8f8;
}

/* 게시글 컨테이너 */
.board-cont {
    width: 90%;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 5%;
    box-sizing: border-box;
}

.title-tab {
    padding-bottom: 3%;
    border-bottom: 1px solid #595959;
}

#cate {
    width: fit-content;
    font-size: clamp(9px, 2vw, 11px);
    color: #269962;
    border: 0.8px solid #269962;
    padding: clamp(2px, 2vw, 3px) clamp(4px, 2vw, 6px);
    margin: 0;
}

.title-tab h2 {
    font-size: clamp(13px, 2vw, 15px);
    font-weight: 450;
}

.post-meta-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-meta-line p {
    font-size: clamp(10px, 2vw, 12px);
    font-weight: 400;
    color: #787878;
    margin: 0;
}

#meat-ball {
    display: flex;
    flex-direction: column;
    gap: clamp(2px, 2vw, 4px);
    margin: 0;
    padding: 0;
}

#meat-ball span {
    width: clamp(2px, 2vw, 4px);
    height: clamp(2px, 2vw, 4px);
    background: #595959;
    border-radius: 50%;
}

.content-tab p {
    font-size: clamp(12px, 2vw, 14px);
    font-weight: normal;
}

#imgs {
    display: flex;
    flex-direction: row;
    gap: clamp(10px, 2vw, 12px);
}

.content-tab {
    margin: 3% 0;
}

.content-tab img {
    width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
}

#count-comment {
    font-size: clamp(12px, 2vw, 14px);
    color: #269962;
    font-weight: 400;
    margin-top: clamp(15px, 2vw, 17px);
    padding: 0 5%;
}


/* 댓글 목록 컨테이너 */
.comments-start-tab {
    width: 100%;
    margin-top: 5%;
}

/* 댓글/답글 세트를 묶는 컨테이너 */
.comment-group {
    padding: 3% 5%;
    background: #f8f8f8;
}

.comment-group.parent-group:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

/* 댓글 아이템 내부 flex 컨테이너 */
.comment-item-content {
    display: flex;
    align-items: flex-start;
    gap: clamp(10px, 2vw, 12px);
    width: 100%;
}

/* 답글의 경우에만 패딩을 추가 */
.comment-item-content.reply {
    padding-left: 20px;
}

/* 답글 화살표 이미지 */
.reply-arrow {
    width: clamp(14px, 2vw, 16px);
    height: clamp(14px, 2vw, 16px);
    margin-top: clamp(10px, 2vw, 12px);
}

/* 프로필 이미지 */
.comment-profile-img {
    width: clamp(28px, 2vw, 30px);
    height: clamp(28px, 2vw, 30px);
    border-radius: 50%;
    background-color: #ddd;
    overflow: hidden;
}
.comment-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 댓글 내용 및 메타 정보 컨테이너 */
.comment-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.comment-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-author-info {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    gap: clamp(3px, 2vw, 5px);
}

.comment-meta strong {
    font-size: clamp(13px, 2vw, 15px);
    font-weight: 500;
}
.comment-meta p {
    font-size: clamp(10px, 2vw, 12px);
    color: #787878;
    margin: 0;
}
.comment-text {
    font-size: clamp(12px, 2vw, 14px);
    margin: clamp(5px, 2vw, 7px) 0 0 0;
}
.reply-btn {
    font-size: clamp(10px, 2vw, 12px);
    color: #269962;
    background: transparent;
    border: none;
    padding: 0;
    margin-top: clamp(5px, 2vw, 7px);
    cursor: pointer;
    width: fit-content;
}

/* 바텀시트 */
.bottom-sheet {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 11;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.bottom-sheet-content {
    position: absolute;
    background: #fff;
    width: 100%;
    border-radius: 20px 20px 0 0;
    padding: clamp(16px, 2vw, 18px);
    box-sizing: border-box;
    animation: slideUp 0.3s ease;
    z-index: 10;
}

.bottom-sheet-content button {
    width: 100%;
    padding: 10px;
    font-size: clamp(14px, 2vw, 16px);
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

.btn-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-wrap div {
    display: flex;
    flex-direction: row;
    gap: clamp(10px, 2vw, 12px);
    justify-content: center;
    align-items: center;
}

.btn-wrap button {
    border: 1px solid #787878;
    border-radius: 40px;
    background: transparent;
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 400;
    color: #787878;
    padding: clamp(6px, 2vw, 9px) clamp(10px, 2vw, 15px);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(5px, 2vw, 7px);
}

.btn-wrap button img {
    width: clamp(14px, 2vw, 16px);
    height: clamp(14px, 2vw, 16px);
}

.like-button.liked {
    border-color: #269962;
    color: #269962;
}

/*삭제할거냐고 뜨는 모달*/
.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    aspect-ratio: 4 / 3;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    border-radius: clamp(16px, 2vw, 18px);
    text-align: center;
}

.modal-icon {
    margin-bottom: 5%;
}

.modal-icon img {
    width: clamp(62px, 2vw, 64px);
    aspect-ratio: 1 / 1;
}

.modal-container h2 {
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 450;
    margin: 0;
}

.warning {
    color: #F62C2F;
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 400;
    margin: 0;
    padding: 1% 0;
}

.delete-board-confirm-btn {
    width: 80%;
    margin: 10% auto;
    color: #9C9C9C;
    border: 1px solid #9c9c9c;
    background: transparent;
    padding: 3% 0;
    border-radius: 30px;
}

.delete-board-confirm-btn:hover,
.delete-board-confirm-btn:active {
    color: #fff;
    border: 1px solid #269962;
    background: #269962;
    transition: 0.2s ease-in;
}

/* 댓글 입력창 스타일 */
.comment-input-area {
    width: 100%;
    background: #fff;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.comment-input-area form {
    display: flex;
    align-items: center;
    gap: clamp(10px, 2vw, 12px);
    width: 90%;
    margin: 0 auto;
    padding: clamp(10px, 2vw, 12px) 0;

    position: relative;
}

.comment-input-area textarea {
    flex-grow: 1;
    border: 1px solid #269962;
    border-radius: 8px;
    padding: clamp(10px, 2vw, 12px) clamp(15px, 2vw, 17px);
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 400;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    transition: border-color 0.3s ease-in-out;
    font-family: inherit;
}

.comment-input-area textarea::placeholder {
    color: #C0C0C0;
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 300;
}

.comment-input-area textarea:focus {
    outline: none;
    border-color: #269962;
}

.comment-input-area button {
    background: #269962;
    border: none;
    border-radius: 50%;
    width: clamp(22px, 2vw, 24px);
    height: clamp(22px, 2vw, 24px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    position: absolute;
    right: clamp(10px, 2vw, 12px);
}

.comment-input-area button img {
    width: clamp(10px, 2vw, 12px);
    height: clamp(10px, 2vw, 12px);
}

/*이미지 확대 모달*/
.image-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.80);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-modal img {
    width: 100%;
    height: 50%;
}