.RestGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1% 5.5%;
    align-items: start;
    padding-bottom: 30px;
}

.Restrestaurant {
    cursor: pointer;
    position: relative;
}

.RestImg {
    width: 100%;
    aspect-ratio: 19 / 19;
    border-radius: 10px;
    object-fit: cover;
}

.Restcomment {
    margin: 3px 0 0 0;
}

.Restcomment h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    position: absolute;
    bottom: 15%;
    left: 5%;
    z-index: 3;
    color: #fff;
}

.Restcomment p {
    font-size: 0.75rem;
    color: #797979;
    margin: 0;
}




.DetailRestGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.03% 5%;
    align-items: start;
    padding-bottom: 30px;
}

.DetailRestrestaurant{
    cursor: pointer;
    position: relative;
}

.DetailRestImg {
    width: 100%;
    aspect-ratio: 192 / 144;
    border-radius: 15px;
    object-fit: cover;
}

.DetailRestcomment {
    margin-top: 3px;
}

.DetailRestcomment h3 {
    font-size: 14px;
    font-weight: 450;
    margin: 5px 0;
}

.DetailRestcomment p {
    color: #595959;
    font-size: 12px;
    margin-top: 4px;
    padding: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 19/19;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #676767 100%);
    z-index: 1;
}

.scroll-hidden {
    -webkit-overflow-scrolling: touch;
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}
.scroll-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
