.Header {
    position: sticky;
    top: 0;
    z-index: 5;

    width: 100%;

    aspect-ratio: 440 / 63;
    background: inherit;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Header_logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ArrowVer,
.LogoVer {
    width: 90%;
    margin: 3% auto -1% auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    position: relative;
}

.ArrowImg {
    display: block;
    margin: 0;
    padding: 0;
    scale: -1;
    width: 16px;
    height: auto;
    cursor: pointer;
}

.LogoImg {
    display: block;
    margin: 0;
    padding: 0;
    width: 26px;
    height: auto;
    cursor: pointer;
}

.ArrowVer .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: max-content;
}

.ArrowVer p {
    color: inherit;
    font-size: 14px;
    font-weight: 550;
    padding: 0;
    margin: 0;
}

.LogoVer .text {
    position: static;
    text-align: left;
}

.LogoVer p {
    color: inherit;
    font-size: 10px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}


/* 헤더 스타일링 위 */

/* ------------------------------ */

/* 푸터 스타일링 아래 */
.Footer {
    position: sticky;
    bottom: 0;

    width: 100%;
    aspect-ratio: 440 / 90;

    background-color: #fff;
    box-shadow: 0 -15px 27.5px -15px rgba(0, 141, 52, 0.25);

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

    overflow: hidden;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.home,
.community,
.course,
.calender,
.my {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    transition: ease-in 0.2s;
}

.home img,
.community img,
.course img,
.calender img,
.my img {
    margin-bottom: 0.5rem;
    transition: 0.5s;
}

.home p,
.community p,
.course p,
.calender p,
.my p {
    font-size: 0.65rem;
    font-weight: 500;
    margin: 0;
}

