.MainPage {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.IntroMent {
    font-size: 18px;
    font-weight: 500;
    margin-top: 38px;
    margin-bottom: 18px;
}

.RecommendCourse {
    width: 100%;
    aspect-ratio: 440 / 279;
    display: flex;
    justify-content: center;
    align-items: end;
}

.element-cont {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.RecommendationChildContainer {
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-items: center;
    width: 60%;
}

.RecommendationChildContainer p {
    font-size: 0.75rem;
    font-weight: 400;
    color: #fff;
}

.RecommendationChildContainer p span {
    font-size: 1rem;
    font-weight: 450;
    color: #fff;
}

.ImgContainer {
    width: 48px;
    height: 36px;
}



